*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.margin-m1{
    margin: 50px 0;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 20px;
}
.btn{
    margin-top: 5px;
    cursor: pointer;
    padding: 5px 10px;
}
.margin-m2{
    margin: 0 20px;
}
.green-btn{
    background-color: #088178;
    color: white;
    font-weight: 700;
    border: none;

}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content:flex-start;
}
#navbar li {
    cursor: pointer;
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: #5e233d;
}
#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #c2608a;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
#mobile {
    display: none;
    align-items: center;
}
#close{
    display: none;
}
.header{
    background-image: url("img/hero4.png");
    height: 80vh;
    background-size: cover;
    background-position: center;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.features{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 80px;
}
.feature-box{
    flex: 1 1 25%;
    border: 1px solid black;
    padding: 20px 5px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    color: #7f264e;
    box-sizing: border-box;
}
.feature-box img {
    display: block;
    margin: 0 auto;
}
.feature-box h4 {
    display: inline-block; 
    padding: 9px 8px 6px 8px;
    background-color: #f8f8f8; 
    border-radius: 5px;
    cursor: pointer;
}
.features div:nth-child(1) h4{
    background-color: #e288c3;
}
.features div:nth-child(2) h4{
    background-color: #d1e8f2;
}
.features div:nth-child(3) h4{
    background-color: #cdd4f8;
}
.features div:nth-child(4) h4{
    background-color: #fff2e5;
}
.features div:nth-child(5) h4{
    background-color: #f6dbf6;
}
.features div:nth-child(6) h4{
    background-color: #fff2e5;
}


.feature-box h4{
    margin-top: 5px;
    
}
.fe-product{
    text-align: center;
}
.fe-product h1, h3{
    margin-bottom: 20px;
}
.fe-product .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.fe-pro-content{
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px ;
}
.fe-product img{
    height: 250px;
}
.content{
    text-align:left;
}
.banner{
    background-image: url("img/banner/b2.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    padding: 10px;
}
.banner h1 {
    padding: 20px;
}
.more-offers{
    display: flex;
    padding: 40px 50px;
    margin: 5px;
    justify-content: center;
    color: white;
}
.more-offers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.more-offers .more-offers-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url("img/banner/b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    cursor: pointer;
    margin: 2px;
}
.more-offers .box2{
    background-image: url("img/banner/b10.jpg");
}
.sm-offers {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; 
    justify-content: center;
}
.sm {
    background-image: url("img/banner/b4.jpg");
    padding: 10px;
    height: 250px; 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    margin: 4px;
    color: white;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: calc(30% - 8px); 
    margin-bottom: 20px;
}
.sm-box2{
    background-image: url("img/banner/b18.jpg");
}
.sm-box3{
    background-image: url("img/banner/b10.jpg");
}
.sign-up{
    padding: 40px;
    background-color: rgb(37, 37, 66);
    color: white;
    background-image: url("img/banner/b14.png");
    text-align: center;
}
.sign-up h3{
    margin: 12px;
}
.sign-up input{
    font-size: 14px;
    padding: 5px;
}
.footer-contact ul li,
.footer-abt ul li {
    list-style: none;
}

.footer-abt ul li a {
    text-decoration: none;
    color: black;
}
.footer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-container {
    display: flex;
}
.footer {
    margin: 20px;
    text-align: start;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-container {
    display: flex;
    width: 100%;
}

.footer-info {
    display: flex;
    width: 100%;
    margin-bottom: 20px; 
}

.footer-info > div {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.footer-pay {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.footer-pay img {
    margin: 5px 0;
}







/*shop page*/

.shop-header{
    background-image: url("img/banner/b1.jpg");
    color: white;
    text-align: center;
    padding: 20px;
    background-position: center;
    background-size: cover;
    height: 250px;
}
.search-nav{
    display: flex;
}
/*blog page*/
.blog-header{
    background-image: url("img/banner/b19.jpg");
    color: white;
    text-align: center;
    padding: 20px;
    background-position: center;
    background-size: cover;
    height: 250px;
}
.blog-info{
    justify-content: center;
}
.blog-info{
    justify-content: center;
    align-content: center;
}
.blog1{
    display: flex;
    margin: 20px;
    align-items: center;
    justify-content: center;
}
.blog-info img{
    padding: 40px 80px;
    max-width: 400px;
    min-height: 300px;
}

/* about page*/
.about-header, .blog-header, .shop-header, .contact-header{
    color: white;
    text-align: center;
    padding: 20px;
    align-content: center;
    background-position: center;
    background-size: cover;
    height: 200px;
}

.about-header{
    background-image: url("img/about/banner.png");
}
.abt-us{
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}
.abt-us div{
    margin: 10px;
}
.abt-us img{
    max-width: 80%;
}
.app-recommendation{
    text-align: center;
    margin-bottom: 20px;
}
.app-recommendation h1{
    margin: 20px;
}
.app-recommendation video{
    width: 50%;
    border-radius: 10px;
}

/*contact page*/

.contact-header{
    background-image: url("img/about/banner.png");
    color: white;
    text-align: center;
    padding: 20px;
    align-content: center;
    background-position: center;
    background-size: cover;
    height: 200px;
}
.contact-address {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.address li{
    display: flex;
    padding: 5px;
}
.address, .map {
    flex: 1 1 50%; 
    box-sizing: border-box; 
    padding: 10px; 
}

.map iframe {
    width: 100%; 
    height: 100%; 
    box-sizing: border-box; 
}
/*shop page*/
.page-item {
    display: inline-block;
    margin: 5px;
    padding: 10px 15px;
    border: 1px solid #000; 
    border-radius: 5px; 
    cursor: pointer; 
}

.page-item.active {
    background-color: #000; 
    color: #fff; 
}

.page-item:hover {
    background-color: #ddd;
}
.email-send{
    text-align: center;
    border: 1px solid black;
    margin:20px;
}
.email-send span{
    padding: 10px;
}
.contact-details{
    display: flex;
    padding: 20px;
    margin: 20px;
    justify-content: space-between;
}
.contact-details form{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px 12px;
}
.contact-details form input,
.contact-details form textarea{
    cursor: pointer;
    width: 100%;
    margin: 10px;
    padding: 12px;
}
.contact-details form button{
    align-self: center;
    padding: 12px 24px; 
    margin: 10px;
    border: none; 
    background-color: #088178; 
    color: white;
    cursor: pointer;
}
.contact-person-info .people{
    display: flex;
    margin: 30px 0;
}
.contact-person-info .people img{
    height: 50px;
}
.email-send{
    padding-top: 12px;
}






@media (max-width: 768px) {
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 14px;
    }
    #navbar {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 80px rgba(0, 0, 0, 0.1);
        padding: 60px 10px 20px;
        transition: 0.3s ease-in-out;
        cursor: pointer;
    }
    #navbar.active {
        display: flex;
        top: 0; 
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: black;
        font-size: 24px;
        padding-left: 20px;
        transition: 0.3s;
    }
    #close {
        display: none;
        position: absolute;
        left: 20px;
        top: 20px;
        color: #222;
        font-size: 24px;
        cursor: pointer;
        transition: 0.3s;
    }
    #navbar.active #close {
        display: block;
    }
    .header {
        padding: 0 20px;
    }
    
    .features {
        display: flex;
    }
    
    
    
    .fe-product .content {
        flex-direction: column;
        align-items: center;
    }
    
    .more-offers {
        flex-direction: column;
    }
    
    .more-offers .more-offers-box {
        min-width: 100%;
        height: auto;
        margin: 10px 0;
    }
    
    .sm {
        width: calc(20% - 8px); 
    }
    
    .sign-up {
        padding: 20px;
    }
    

    


    
    
    .shop-header, .blog-header, .about-header, .contact-header {
        min-height: 200px;
        padding: 10px;
    }
    
    .abt-us {
        flex-direction: column; 
        align-items: center; 
    }
    
    .abt-us div {
        margin: 10px 0;
    }

    .abt-us img {
        max-width: 100%; 
    }
    
    .app-recommendation video {
        width: 100%;
    }
    
    .contact-address {
        flex-direction: column;
    }
    
    .address, .map {
        width: 100%;
    }
    .blog-info{
        align-items: center;
        justify-content: center;
    }
    .blog-info img{
        max-width: 150px;
        min-height: 150px;
        padding: 10px 5px;
    }
    .contact-details{
        display: flex;
        flex-direction: column;
    }
    .contact-details form{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .contact-details form input,
    .contact-details form textarea{
        cursor: pointer;
        width: 100%;
    }
    
    .contact-person-info .people{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 30px 0;
    }
    .contact-person-info .people img{
        height: 50px;
    }
}






